<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net47" />
  <package id="Scar.Common.MVVM.Commands" version="1.0.7021.22562" targetFramework="net47" />
  <package id="Scar.Common.MVVM.ViewModel" version="1.0.7021.23060" targetFramework="net47" />
  <package id="Scar.Common.RateLimiter" version="1.0.7016.37702" targetFramework="net47" />
  <package id="Scar.Common.View.Contracts" version="1.0.7016.37709" targetFramework="net47" />
  <package id="Scar.Common.WPF.View" version="1.0.6812.21943" targetFramework="net47" />
  <package id="Scar.Common.WPF.View.Contracts" version="1.0.7016.37974" targetFramework="net47" />
</packages>