<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net47" />
  <package id="Scar.Common.RateLimiter" version="1.0.6789.21362" targetFramework="net47" />
  <package id="Scar.Common.WPF.View" version="1.0.6812.21943" targetFramework="net47" />
  <package id="Scar.Common.WPF.View.Contracts" version="1.0.6719.21680" targetFramework="net47" />
  <package id="Scar.Common.WPF.ViewModel" version="1.0.6719.21806" targetFramework="net47" />
</packages>