<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net47" />
  <package id="LiteDB" version="4.1.4" targetFramework="net47" />
  <package id="Scar.Common.DAL" version="1.0.6768.19463" targetFramework="net47" />
</packages>