<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net47" />
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net47" />
  <package id="Scar.Common" version="1.0.7018.41786" targetFramework="net47" />
  <package id="Scar.Common.Drawing.Metadata" version="1.0.7016.37681" targetFramework="net47" />
  <package id="Scar.Common.IO" version="1.0.7034.37794" targetFramework="net47" />
</packages>